<div class="page-header h3">Accounting Services</div>

<p>
    <b>ROZEE FINANCIAL SERVICES INC.</b> offers high quality services for small businesses at
    affordable rates. Professionally prepared financial records provide powerful information tools
    that enable you to better manage your business. These reports of past business decisions,
    the owner will know if strategies are working as expected or if different strategies should be
    implemented.
    <br /><br />
    We provide informative services to our clients to help them maintain their transparency and
    accountability within the capital market.
    <br /><br />
    We customized services to address the unique needs of our clients:
</p>
<br />
<b>Book-keeping Services:</b>
<hr />
<p>
    <ul>
        <li>Accounts Receivables / Accounts Payable</li>
        <li>Government Remittance (GST, PST, Source Deductions)</li>
        <li>Prepare bank reconciliation statements monthly, quarterly or annually as required</li>
        <li>Complete and reconcile cash books and/or general ledger accounts</li>
        <li>Reconcile sub-ledger with GL balances</li>
        <li>Reconcile all balance sheet items for the fiscal year</li>
        <li>Extract trial balance</li>
        <li>Prepare and review complete accounting file</li>
        <li>Carry out internal audits as required from time to time</li>
        <li>Perform analytical review (ratio analysis) of financial statements</li>
        <li>Prepare effective business plan and proposals</li>
    </ul>
</p>
<br />

<b>Year-End Closings and Financial Statements:</b>
<hr />
<p>
    <ul>
        <li>Trial Balance and/or monthly internal financial statements</li>
        <li>Process year-end adjusting entrie</li>
        <li>Year-end financial statements</li>
        <li>Tax planning & strategies</li>
        <li>Reports for specialized businesses</li>
    </ul>
</p>
<br />

<b>ON-SITE ACCOUNTING/BOOKKEEPING:</b>
<hr />
<p>
    Our skilled bookkeepers will personally assist you in your office at pre-arranged dates and
    intervals to keep your accounting records up-to-date.
    We will ensure that the work is properly done right to reflect your company’s financial standing
    and provide effective advice to any troubles looming ahead.

</p>
<br />

<b>OFF-SITE ACCOUNTING/BOOKKEEPING:</b>
<hr />

<p>
    We simply come to your location and pick up all the needed paperwork and your bookkeeping
    is conducted on our systems. Our systems are updated in a timely fashion for new government
    rules and rates at no cost to you. We use highly secure database system to prevent privacy of
    your records.
    <br /><br />
    We will devote all the necessary attention that your company’s bookkeeping requires for your
    financial success. Accurate bookkeeping will result in financial statements presenting a true
    picture of your business which in turn will help you to make better business decision.
    <br /><br />
    Give us a call. We can customize a package of services that is priced to keep you competitive in
    your marketplace

</p>
