<h3 class="page-header">Corporate Services</h3>
<p>
    RoZee Financial provides Business Registration and Incorporation for profit as well as <a href="#non-profit">non-profit organizations</a>.<br />
    <ul>
        <li>NUANS (name) Search</li>
        <li><a href="#soleproprietorship">Sole proprietorship</a></li>
        <li><a href="#partnership">Partnership</a></li>
        <li><a href="#corporation">Corporation</a></li>
    </ul>
</p>
<br />

<b id="soleproprietorship">Sole proprietorship</b>
<hr />
<p>
    A sole proprietorship is an unincorporated business entirely owned and managed by
    only one individual.<br /><br />
    A sole proprietor is fully responsible for all debts and obligations related to the business.<br /><br />

    A creditor with a claim against a sole proprietor would normally have a right against all
    business and personal assets. The creditor could seize business or personal assets.
    This is known as unlimited liability.<br /><br />

    Characteristics of a sole proprietorship:
    <ul>
        <li>Business is not incorporated</li>
        <li>Owner has sole responsibility for decision making</li>
        <li>Owner receives all profits and takes full responsibility for all losses</li>
        <li>Owner is considered self-employed and reports the business income on a T1</li>
        <li>Individual Income Tax Return</li>
    </ul>
</p><br />

<b id="partnership">Partnership</b>
<hr />
<p>
    The partnership itself is the business that receives a business number (BN), not each
    partner.<br /><br />

    A partnership exists when each partner shares the management of the business and
    has personal liability for the business debts and obligations.<br /><br />

    The characteristics of a partnership are:
    <ul>
        <li>Association between two or more persons</li>
        <li>
            Each partner is co-owner of the business and is responsible for the actions of the
            other partners
        </li>
        <li>Each partner contributes money, property and/or skills</li>
        <li>
            Each partner is entitled to a share of the profit/losses based on the partnership
            agreement
        </li>

        <li>
            Each partner is considered self-employed and reports their share of income/loss
            on a T1 Individual Tax and Benefit Return
        </li>
    </ul>
</p><br />

<b id="corporation">Corporate</b>
<hr />
<p>
    A corporation is owned by shareholders. No shareholder of a corporation is personally
    liable for the debts, obligations or acts of the corporation. However, directors could be
    held personally liable for the debts of the corporation.<br /><br />
    A corporation can incorporate at either the federal, provincial, or territorial level.<br /><br />

    A corporation is identified by the terms
    "Limited," "Ltd.," "Incorporated," "Inc.," "Corporation," or "Corp.". Whatever the
    term, it must appear with the corporation name on all documents, stationery, and so on,
    as it appears on the incorporation document.<br /><br />

    Characteristics of a corporation:
    <ul>
        <li>It is its own legal entity</li>
        <li>Businesses of all sizes can be corporation</li>
        <li>Shareholders cannot claim any loss the corporation sustains</li>
        <li>Shares can be bought and sold without affecting the existence of the corporation</li>
        <li>It must file a T2 Corporate Income Tax Return</li>
    </ul>
</p><br />

<b id="non-profit">Non-profit organizations</b>
<hr />
<p>

    A non-profit organization (NPO) is a club, society, or association that's organized and
    operated solely for:<br />
    Social welfare<br />
    Civic improvement<br />
    Pleasure or recreation<br />
    Any other purpose except profit.
    <br /><br />

    <b>Other corporate services includes:</b>
    <ul>
        <li>Corporate minute books and seals</li>
        <li>Shareholders Agreement</li>
        <li>Change the corporate address</li>
        <li>Change the directors of co-operations</li>
        <li>Change of Share holders</li>
    </ul>
</p>