<div class="page-header h3"><strong>RoZee Financial Services Inc.</strong></div>

<div class="panel-body">
    <p>
        ROZEE FINANCIAL SERVICES INC. offers high quality services for small businesses at affordable rates. Professionally prepared financial records provide powerful information tools that enable you to better manage your business. These reports of past business decisions, the owner will know if strategies are working as expected or if different strategies should be implemented.
    </p>
    <p>
        Expert with personal and small business tax returns along with Book-keeping, GST
        returns, Payroll deductions, self employed taxes and Revenue Canada audit assistance. A designated CMA Accounting Professional with over 8 years of experience.
    </p>
</div>
<h4 class="modal-title">We provide following financial services:</h4>
<hr />
<div class="col-sm-4">
    <ul class="list-group">
        <li class="bg-primary list-group-item list-group-item-info"><b>ACCOUNTING SERVICES</b></li>
        <li class="list-group-item">Bookkeeping</li>
        <li class="list-group-item">Payroll</li>
        <li class="list-group-item">Business Planning</li>
        <li class="list-group-item">Government Tax Remittance</li>
    </ul>
</div>
<div class="col-sm-4">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info"><b>CORPORATE SERVICES</b></li>
        <li class="list-group-item">Business Registration</li>
        <li class="list-group-item">Financial Statement preparation</li>
        <li class="list-group-item">Reports for specialized businesses</li>
        <li class="list-group-item">Business Consulting and Planning</li>
    </ul>
</div>
<div class="col-sm-4">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info"><b>TAX SERVICES</b></li>
        <li class="list-group-item">Personal</li>
        <li class="list-group-item">Corporate</li>
        <li class="list-group-item">RRSP Contribution Planning</li>
        <li class="list-group-item">Tax Saving plans</li>
    </ul>
</div>
