<h3 class="page-header">Other Services</h3>

<p>
    We can assist you in following areas:
    <ul>
        <li>Corporate Finance or Business Consulting</li>
        <li>Business start up assistance & consultation</li>
        <li>Purchase of Business Agreement</li>
        <li>Financial Strategies</li>
        <li>Business Planning and Cash Flow</li>
        <li>Reports for specialized businesses</li>
        <li>Minute Books</li>
        <li>Notice of Readers</li>
    </ul>
    Give us a call. We can customize a package of services that is priced to keep you competitive in
    your marketplace
</p>