<div class="page-header h3">Payroll Services</div>


<p>
    RoZee Financial complete payroll services were designed especially for small
    businesses with one or more employee(s). We simplify the payroll process so our
    clients spend less time handling it.<br /><br />
    We provide Services as follows:<br />
    <ul>
        <li>Regular payroll services (Weekly, Bi-weekly, Monthly)</li>
        <li>CPP, EI, Income Tax Deductions</li>
        <li>Vacation and sick pay tracking</li>
        <li>On time remittance of Source Deductions</li>
        <li>Record of Employment and WCB Reports</li>
        <li>T4, T4A, T2, T5 or T5018 reporting(contractor payments)</li>
        <li>Direct deposit to make life easier for business owners and their employees</li>
    </ul>
    We can assure you that payroll will be done in the most professional way and within the deadlines.
</p>
