<div class="page-header h3">Resources</div>
<ul>
    <li>
        <a href="http://www.ccra.gc.ca/" target="_blank">Canada Customs and Revenue</a>
    </li>
    <li>
        <a href="http://www.servicecanada.gc.ca/" target="_blank">Service Canada</a>
    </li>
    <li>
        <a href="http://www.wcb.ab.ca/" target="_blank">Work Safety Compensation Board</a>
    </li>
    <li>
        <a href="http://www.hrdc.gc.ca/" target="_blank">Human Resource Development Canada</a>
    </li>
    <li>
        <a href="http://www.finance.alberta.ca/" target="_blank">Alberta Ministry of Finance</a>
    </li>
    <li>
        <a href="http://www.theglobeandmail.com/" target="_blank">The Globe and Mail</a>
    </li>
    <li>
        <a href="http://www.canadianbusiness.com/" target="_blank">Canadian Business</a>
    </li>
    <li>
        <a href="http://www.bank-banque-canada.ca/" target="_blank">Bank of Canada</a>
    </li>
</ul>
