<div class="page-header h3">Taxation Services</div>
<p>
    RoZee Financial provides comprehensible and accurate tax services to individuals, self-employed persons, growing businesses, and corporations. We analyze tax files, provide
    suitable advice, develop ethical business strategies, and sustain a close bond with federal and provincial tax authorities to make business negotiations on your behalf.
</p>
<p>
    We work hard to make sure our tax services are accurate, timely, and most of all convenient for
    our clients. We build rapport and strong professional ties with our customers to cultivate future
    collaborations.
</p>
<p>
    Get benefit of ‘free second look’ service. We provide free second look service to individuals and
    corporate clients. Bring your tax return done by other professional and we will review it for free
    to evaluate the accuracy and identify if any errors.
</p>
<p>
    We provide Services as follows:<br />
    <ul>
        <li><a href="#personaltax">Personal tax</a></li>
        <li><a href="#businesstax">Business Tax (Self employed)</a></li>
        <li><a href="#corporatetax">Corporate Tax</a></li>
    </ul>
</p>

<b id="personaltax">Personal Tax</b>
<hr />
<p>
    Our tax professionals will help you prepare your tax return quickly, affordably and
    accurately. We will ensure you that get the best deal possible from the government,
    and that every deduction to which you’re entitled is claimed. We can handle any and all
    situations, whether they are simple or complicated. Our client base is unlimited and we
    provide useful tax services in the following specialized areas:
    <br />
    <ul>
        <li>T1 General returns </li>
        <li>
            Canadian or US returns
        </li>
        <li>
            Salaried and commission employees with deductible expenses
        </li>
        <li>
            Students, new immigrants, refugees, emigrants and non-residents
        </li>
        <li>
            Rental Income, Capital Gains and various investment incomes
        </li>
        <li>
            Social assistance, disability and other government assistance programs<br />
        <li>
            Seniors on Canadian or foreign pensions
        </li>
        <li>
            Returns for decease person
        </li>
        <li>
            Current and prior year income tax preparation for late filers
        </li>
        <li>
            Requests for adjustments
        </li>
        <li>
            Representation for audits and pre or post assessment reviews
        </li>
    </ul><br />
    Every return is electronically filed (unless required otherwise) to ensure you get your refund back as quickly as possible<br />
    Direct Deposit of Tax Refunds within 2 weeks (conditions apply)<br />
</p>


<b id="businesstax">Business Tax (Self employed)</b>
<hr />
<p>
    Self-employed income is that which you earn from your own business, whether it is a sole
    proprietorship or a partnership. Self-employment income must always be reported
    on your personal income tax return (T1) and never in your employment income. A person can
    report their business income based on a fiscal period, typically around December 31st (year-
    end).<br /><br />

    If you are self-employed, the individual must keep accurate records of their income and
    expenses, as you are entitled to deduct the costs of earning your income. It is therefore
    pertinent that you maintain proof of your self-employment expenses to support your claims and
    avoid tax penalties.<br /><br />

    Our tax professionals are prepared to handle all your tax filing so that you can devote more
    time and energy into the growth of your business, it can also be complicated when figuring your
    income taxes. Since you are personally responsible for making your own tax payments, you
    need to know the regulations involved. We will try our best to make sure that all of your expense
    claims do not result in unnecessary tax audits.<br /><br />

    We can help you with the following tax functions:
    <ul>
        <li>
            Year-round Support. Will asses your tax situation any time of the year and maximize the
            tax-saving opportunities available to you Current and prior years
        <li>
            Requests for adjustments
        </li>
        <li>
            Revenue Canada Review and Audit Assistance
        </li>
    </ul>
    We electronically file your return (unless required otherwise) to ensure you get your
    refund back as quickly as possible.<br />
    We can also help you decide if incorporation is right for your business.
</p>
<b id="corporatetax">Corporate Tax</b>
<hr />
<p>
    A corporation must file their corporate income tax return (T2) after fiscal ending, which will
    be within 90 days from the end of the fiscal year regardless if there is no tax payable. As a
    company, it is important to keep in mind that the correctness of a corporate income tax return
    depends largely on the structure and accuracy of its bookkeeping records. Corporations can
    choose any fiscal ending date for the first year in business. Along with tax return, it also has to
    attach complete financial statements, GIFI, and the necessary schedules to the T2 return. For
    this reason, we help you to maintain a solid foundation in bookkeeping.<br /><br />

    Our Professionals have the knowledge and experience to minimize corporate tax
    payable amounts. Corporate tax planning takes into account a substantial amount
    of taxes, including income tax, payroll tax and capital tax. We also use accepted
    tax planning strategies to ensure your tax and other business objectives are met.
    We ensure the accuracy of your return and we'll even respond to CRA inquiries and
    requests on your behalf.<br /><br />

    We will organize your tax return and communicate with CRA on your behalf as necessary.<br /><br />

    We can help you with the following corporate tax functions:

    <ul>
        <li>T2 Corporate Income Tax Returns</li>
        <li>T4 Statement of Remuneration Paid summaries and slips</li>
        <li>T5 Return of Investment Income summaries and slips</li>
        <li>T5018 Statement of Contract Payments summaries and slips</li>
        <li>Current and prior years</li>
        <li>GST/HST returns</li>
        <li>Tax strategies for selling or acquiring business</li>
        <li>Corporate reorganizations</li>
        <li>Shareholder compensation</li>
        <li>Assisting with audits or other dealings with tax authorities</li>
        <li>
            Year-round Support. We will asses your tax situation any time of the year and maximize
            the tax-saving opportunities available to you
        </li>
        <li>Electronic Filing</li>
    </ul><br />

    We know that filing corporate taxes can be complicated and burdensome. Feel confident
    relying on the expertise of seasoned accounting professionals who are passionate about your
    business. Contact us (Hyperlink) today to find out how we can plan, implement, and monitor a
    customized corporate tax strategy that works for you, initial consultation is free of charge.
</p>
